* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-bg-default);
}

.authContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authCard {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.authButtons {
  display: flex;
  gap: 15px;
}
